
<div class="container">
    <div>
        <h1 class="text-center">Aca va el Nav</h1>
    </div>
    <div class="row">
        <h2 class="text-center">Form de Productos</h2>

        
        {{> form}}


        <h2 class="text-center">Lista de Productos</h2>

        {{> lista}}

    </div>
    <div class="row">
        <h2 class="text-center">Chat Local</h2>

        {{> chat}}

    </div>
        <div>
        <h1 class="text-center">Aca va el footer</h1>
    </div>
</div>



