head
  meta(charset='utf-8')
  title Con Pug
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css', integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", crossorigin="anonymous")

  body
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header

            h4#myModalLabel.modal-title
              | Form de productos
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='/productos')
              div.form-group
                id(for='name') Producto:
                input#name.form-control(type='text', placeholder='name' name='name')
              div.form-group
                id(for='price') Precio:
                input#name.form-control(type='text', placeholder='name' name='price')
              div.form-group
                id(for='thumbnail') Foto:
                input#email.form-control(type='img', placeholder='picture' name='thumbnail')
              button.btn.btn-primary(type="submit") Submit
              a.btn.btn-dark(type="button", href="/productos") Productos
