<h1>Login de Usuario</h1>
<form id="userForm" method="post" class="container col-sm-8">

  <div class="mb-3">
    <label for="name" class="form-label">ingresa tu usuario</label>
    <input
      type="text"
      class="form-control"
      id="user"
      name="user"
      aria-describedby="emailHelp"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary">Inicio Session</button>

</form>