<div class="container">
  <h1>Inicio para ingresar a productos y chat o Registrate</h1>
  <a href="/inicio" class="btn btn-primary my-3">Inicio de sesión</a>
  <a href="/registro" class="btn btn-primary my-3">Registro</a>
  <div>
    <h1 class="text-center">Aca va el footer</h1>
  </div>

</div>