<form id="productForm" method="post" class="container col-sm-8">

  <div class="mb-3">
    <label for="name" class="form-label">Producto</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      aria-describedby="emailHelp"
      required
    />
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Precio</label>
    <input
      type="text"
      class="form-control"
      id="price"
      name="price"
      aria-describedby="emailHelp"
      required
    />
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Foto</label>
    <input
      type="text"
      class="form-control"
      id="thumbnail"
      name="thumbnail"
      aria-describedby="emailHelp"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>